{% load sevo_tags static i18n %}
<nav class="navbar bg-primary navbar-expand-lg shadow" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">SEVO CMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for item in menu_primary.get_published_menu_sites %}
                {% if not item.has_subsites %}
                    <li class="nav-item"> 
                        <a class="nav-link {% is_active_site path=request.path site=item.site2 %}" href="{% if item.site2.available %}{{ item.site2.get_absolute_url }}{% endif %}">{{ item.site2.title }}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown"> 
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.site2.title }}</a>
                        <ul class="dropdown-menu" data-bs-theme="light">
                            {% for subsite in item.get_published_subsites %}
                            <li>
                                <a class="dropdown-item {% is_active_site path=request.path site=subsite %}" href="{% if subsite.available %}{{ subsite.get_absolute_url }}{% endif %}">{{ subsite.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
          {% comment %} <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> {% endcomment %}

        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="opacity-75" src="{% static 'images/icons/user.svg' %}" alt="User">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                {% if request.user.is_authenticated %}
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:index' %}">{% trans "Dashboard" %}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:update' pk=request.user.id %}">{% trans "Change userdate" %}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:password_change' %}">{% trans "Change password" %}</a>
                  </li>
                  <li>
                    <form method="post" action="{% url 'sevo_user:sign_out' %}">
                      {% csrf_token %}
                      <button class="btn btn-link dropdown-item">{% trans "Sign out" %}</button>
                  </form>
                  </li>
                {% else %}
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:sign_in' %}">{% trans "Sign in" %}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:sign_up' %}">{% trans "Sign up" %}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sevo_user:password_reset' %}">{% trans "Forgot password" %}</a>
                  </li>
                {% endif %}
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>