{% load i18n %}

<div class="card my-4">
    <div class="card-header">
        <strong>
            {{ title }}
        </strong>
        {% if meta_data %}
            <div class="meta-data">
                <small>
                    {% trans "Created" %}: <time datetime="{{ todo.created }}">{{ todo.created }}</time>
                </small>
                <br>
                <small>
                    {% trans "Updated" %}: <time datetime="{{ todo.updated }}">{{ todo.updated }}</time>
                </small>
            </div>    
        {% endif %}
    </div>
    <div class="card-body">
        {% autoescape off %}
            {{ todo.content }}
        {% endautoescape %}
    </div>
    <div class="card-footer">
        <div class="d-flex gap-3 justify-content-between align-items-center flex-column flex-md-row gap-md-1">
            <div class="d-flex align-items-center gap-1 flex-md-row flex-column">
                {% if detail %}
                    <a class="btn btn-primary" href="{{ todo.get_absolute_url }}">{% trans "Show" %}</a>
                {% endif %}
                {% if update %}
                    <a class="btn btn-success" href="{% url "todo_app:todo_update" pk=todo.pk %}">{% trans "Edit" %}</a>
                {% endif %}
                {% if delete %}
                    <a class="btn btn-danger" href="{% url "todo_app:todo_delete" pk=todo.pk %}">{% trans "Delete" %}</a>
                {% endif %}
                {% include "./_todo-back.html" %}
                {% include "./_category-back.html" %}
            </div>

            <div>
                {% if done %}
                    {% if list %}
                        {% include "./_todo-done-check-list.html" %}
                    {% else %}
                        {% include "./_todo-done-check-single.html" %}
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
</div>

