{% extends "base.html" %}
{% load i18n %}



{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>{% trans "Categories" %}</h1>
    <div>
        <a href="{% url "todo_app:category_create" %}">{% trans "New Category" %}</a>
    </div>
    <div>
        {% if category_list %}
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    <a href="{% url "todo_app:category_update" pk=category.pk %}">[{% trans "Update" %}]</a>
                    <a href="{% url "todo_app:category_delete" pk=category.pk %}">[{% trans "Delete" %}]</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>{% trans "No Categories available." %}</p>
        {% endif %}
    </div>
    <div>
        <a href="{% url "todo_app:todo_index" %}">{% trans "All Todos" %}</a>
    </div>
{% endblock %}