{% extends "base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Delete Todo" %}
{% endblock %}


{% block content %}
    <div>
        <form  method="post">
            {% csrf_token %}
            <div class="card border-danger">
                <div class="card-header border-danger bg-danger text-white">
                    <strong>{{ object.name }}</strong>
                </div>
                <div class="card-body">
                    <div class="text-danger">
                        <strong>
                            {% trans "Do you really want to delete this Category?" %}
    
                        </strong>
                        <div class="mt-3">
                            #{{ object.id }} - {{ object.name }}
                        </div>

                    </div>
                </div>
                <div class="card-footer border-danger bg-white">
                    <div class="d-flex gap-1">
                        <button class="btn btn-danger">{% trans "Delete" %}</button>
                        <a class="btn btn-secondary" href="{% url "todo_app:category_index" %}">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </div>  
        </form>
    </div>


{% endblock %}