{% extends "base.html" %}
{% load i18n %}



{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "./partials/_heading.html" with title=title %}
{% endblock %}


{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans "Name" %}</th>
                <th class="d-lg-table-cell d-none" scope="col">{% trans "Created" %}</th>
                <th class="d-lg-table-cell d-none" scope="col">{% trans "Updated" %}</th>
                <th class="text-end" scope="col">{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                    <tr>
                        <th scope="row">{{ category.id }}</th>
                        <td><strong>{{ category.name }}</strong></td>
                        <td class="d-lg-table-cell d-none" >{{ category.created }}</td>
                        <td class="d-lg-table-cell d-none" >{{ category.updated }}</td>
                        <td>
                            <div class="d-flex gap-1 justify-content-end">
                                <a class="btn btn-primary btn-sm" href="{{ category.get_absolute_url }}">{% trans "Show" %}</a>
                                <a class="btn btn-success btn-sm" href="{% url "todo_app:category_update" pk=category.pk %}">{% trans "Edit" %}</a>
                                <a class="btn btn-danger btn-sm" href="{% url "todo_app:category_delete" pk=category.pk %}">{% trans "Delete" %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}