{% extends "base.html" %}
{% load i18n %}



{% block title %}
    {{ object.name }}
{% endblock %}

{% block header %}
    {% include "./partials/_heading.html" with title=object.name %}
{% endblock %}


{% block content %}
    <div id="todo-list">
        {% if todos %}
            {% for todo in todos %}
                {% include "./partials/_todo-item-category.html" with list=True detail=True update=True delete=True %}
            {% endfor %}
        {% else %}
            <p>
                No Todos available.
            </p>
        {% endif %}
    </div>
    <div class="mt-3">
        {% include "./partials/_back-link-meta.html" %}

    </div>

{% endblock %}