{% extends "base.html" %}
{% load i18n %}

{% block site_title %}{{ title }}{% endblock %}

{% block title %}
    <h1 class="text-3xl text-cyan-500">{{ object.title }}</h1>
{% endblock %}


{% block content %}
    <div>
        {{ object.content }}
    </div>
    <hr>
    <div>
        {% trans "Done" %}: <span>{{ object.done }}</span>
    </div>
    <div>
        {% trans "Created" %}: <span>{{ object.created }}</span>
    </div>
    <div>
        {% trans "Updated" %}: <span>{{ object.updated }}</span>
    </div>
    <div>
        {% trans "User" %}: <span>{{ object.user.username }}</span>
    </div>
    <div>
        <div>
            {% trans "Categories" %}: 
        </div>
        <ul>
            {% for category in object.categories.all %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="{% url "todo_app:todo_index" %}">{% trans "Back to Todos" %}</a>
    </div>

{% endblock %}