{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "node/bootstrap/css/bootstrap.css" %}">
    {% block extern_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>Todo App - {% block title %}{% endblock %}</title>
</head>
<body>
    {% include "./partials/_nav.html" %}
    <header class="py-5 bg-primary-subtle">
        <div class="container">
            <div class="d-flex gap-1 justify-content-end flex-md-row flex-column">
                <a class="btn btn-primary" href="{% url "todo_app:todo_create" %}">{% trans "Create Todo" %}</a>
                <a class="btn btn-primary" href="{% url "todo_app:category_create" %}">{% trans "Create Category" %}</a>
            </div>
        </div>
    </header>
    {% block header %}{% endblock %}

    <main class="container py-5">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static "node/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src={% static "js/htmx.min.js" %}></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
    {% block extern_js %}{% endblock %}
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>